absl-py==2.4.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
beartype==0.22.9
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
datasets==4.8.5
dill==0.4.1
equinox==0.13.8
etils==1.14.0
filelock==3.29.0
flax==0.12.7
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
gitpython==3.1.50
h11==0.16.0
hf-xet==1.5.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.17.0
humanize==4.15.0
idna==3.17
iniconfig==2.3.0
jax==0.10.1
jaxlib==0.10.1
jaxtyping==0.3.10
markdown-it-py==4.2.0
mdurl==0.1.2
ml-dtypes==0.5.4
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.19
numpy==2.4.6
opt-einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.11.40
packaging==26.2
pandas==3.0.3
pillow==12.2.0
platformdirs==4.10.0
pluggy==1.6.0
prometheus-client==0.25.0
propcache==0.5.2
protobuf==7.35.0
psutil==7.2.2
pyarrow==24.0.0
pydantic==2.13.4
pydantic-core==2.46.4
pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
rich==15.0.0
scipy==1.17.1
sentry-sdk==2.61.0
shellingham==1.5.4
simplejson==4.1.1
six==1.17.0
smmap==5.0.3
tensorstore==0.1.84
tqdm==4.67.3
treescope==0.1.10
typer==0.25.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.7.0
uvloop==0.22.1
wadler-lindig==0.1.7
wandb==0.27.0
xxhash==3.7.0
yarl==1.24.2
zipp==4.1.0
